# Ignoriere alles
*

# Erlaube .gitignore und README.md
!.gitignore
!README.md

# Erlaube C-Quellcodedateien und Header-Dateien
!mandatory
!libft
!libft/printf
!libft/gnl
!*.c
!*.h

# Erlaube Makefile
!Makefile
